<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Page</title>
</head>
<body>
    <% if (!id) { %>
        <h1>Welcome to the Facilities Page</h1>
        <p>Here, you will be able to view data about facilities</p>
        <h1>Facilities</h1>
        <ul>
            <% facilities.forEach(facility => { %>
                <li>
                    <a href="/facilities/<%= facility.facility_id %>">
                        (ID: <%= facility.facility_id %>) <%= facility.name %>
                    </a>                
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>Welcome to the Facilities Page for Facility with id  <%= id %> </h1>
        <% if (!facilityResponses) { %>
            <h2>No responses found for this facility.</h2>
        <% } else { %>
            <ul>
                <% facilityResponses.forEach(response => { %>
                    <li>
                        <strong>Question:</strong> <%= response.question_text %><br>
                        <strong>Response:</strong> <%= response.answer_text %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
        <a href="/facilities">Back to Facilities</a>
    <% } %>
</body>
</html>